<?xml version="1.0"?>
<robot name="box">

  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>

  <link name="box">
    <inertial>
      <mass value="1"/>
      <!-- Inertia values were calculated to be consistent with the mass and
           geometry size, assuming a uniform density. -->
      <inertia ixx="0.0108" ixy="0" ixz="0" iyy="0.0083" iyz="0" izz="0.0042"/>
    </inertial>
    <visual name="center">
      <geometry>
        <box size=".059 .059 .059"/>
      </geometry>
    </visual>
    
    <visual name="zplus">
      <geometry>
        <box size=".059 .059 .00295"/>
      </geometry>
      <material name="red"/>
      <origin xyz="0 0 0.0295"/>
    </visual>    

    <collision name="box">
      <geometry>
        <box size=".06 .06 .06"/>
      </geometry>
    </collision>
  </link>
</robot>