<?xml version="1.0"?>
<robot name="box">

  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>

  <material name="coral">
    <color rgba="1.0 0.5 0.5 1"/>
  </material>  

  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>    

  <material name="green">
    <color rgba="0 1 0 1"/>
  </material>    

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>      

  <material name="magenta">
    <color rgba="1.0 0 0.5 1"/>
  </material>        

  <link name="box">
    <inertial>
      <mass value="1"/>
      <!-- Inertia values were calculated to be consistent with the mass and
           geometry size, assuming a uniform density. -->
      <inertia ixx="0.0108" ixy="0" ixz="0" iyy="0.0083" iyz="0" izz="0.0042"/>
    </inertial>
    <visual name="center">
      <geometry>
        <box size=".059 .059 .059"/>
      </geometry>
    </visual>
    
    <visual name="zplus">
      <geometry>
        <box size=".059 .059 .00295"/>
      </geometry>
      <material name="red"/>
      <origin xyz="0 0 0.0295"/>
    </visual>   

    <visual name="zminus">
      <geometry>
        <box size=".059 .059 .00295"/>
      </geometry>
      <material name="coral"/>
      <origin xyz="0 0 -0.0295"/>
    </visual>   

    <visual name="xplus">
      <geometry>
        <box size=".00295 0.059 0.059"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.0295 0 0"/>
    </visual>            

    <visual name="xminus">
      <geometry>
        <box size=".00295 0.059 0.059"/>
      </geometry>
      <material name="magenta"/>
      <origin xyz="-0.0295 0 0"/>
    </visual>             

    <visual name="yplus">
      <geometry>
        <box size="0.059 .00295 0.059"/>
      </geometry>
      <material name="blue"/>
      <origin xyz="0 0.0295 0"/>
    </visual>            

    <visual name="yminus">
      <geometry>
        <box size="0.059 .00295 0.059"/>
      </geometry>
      <material name="grey"/>
      <origin xyz="0 -0.0295 0"/>
    </visual>                        

    <collision name="box">
      <geometry>
        <box size=".06 .06 .06"/>
      </geometry>
    </collision>
  </link>
</robot>