<robot name="root">
  <link name="link_overall">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.00"/>
      <inertia ixx="1.36E-01" ixy="-1.22E-04" ixz="1.58E-04" iyy="1.20E-01" iyz="1.59E-02" izz="3.88E-02"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="visual_mesh/bee_toy_1_visual.obj" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
</robot>
